name: flutter_boilerplate
description: A Flutter project with feature-based folder structure and utilities.
version: 1.0.1+1
repository: https://github.com/vikranthsalian/flutter_boilerplates
homepage: https://github.com/vikranthsalian/flutter_boilerplates


environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
